/* Buttons and buttons animations */

.btn.scrummy-primary {
  font-weight: 600;
  background: transparent linear-gradient(109deg, #ED1941 0%, #EE931C 100%) 0% 0% no-repeat padding-box;
  border-radius: 24px;
  color: #ffffff;

  transition: all 2s ease 0;
}

.btn.scrummy-primary:hover{
  animation: pop 0.3s linear 1;
}

@keyframes pop{
  50%  {transform: scale(1.05);}
}

  
a.text-orange-hover:hover, a.text-orange-hover:focus {
  color: #EE931C !important;
} 

  /* Team Area - Function in project (BACKEND, FRONTEND) */

.bg-skills {
  height: 30px;
  background: #00000029;
  border-radius: 16px;
  }

  /* Collors */

  .bg-gradient-orange {
    background: transparent linear-gradient(152deg, #ED1941 0%, #EE931C 100%) 0% 0% no-repeat padding-box;
  }
  
  .color-orange {
    color: #EE931C;
  }
  
  
  .bg-darkgray {
    background: #404040 0% 0% no-repeat padding-box;
  }
  
  .bg-verydark {
    background: #232323 0% 0% no-repeat padding-box;
  }
  
  .bg-gradient-green {
    background: transparent linear-gradient(174deg, #41BB86 0%, #41BB86 33%, #41B7BB 100%) 0% 0% no-repeat padding-box;
  
  }

